<h1>New student</h1>
<%= form_with model: @student do |form|%>
<div>
<%= form.label :first_name %>
<%= form.text_field :first_name %>
<br>
<br>
<%= form.label :last_name %>
<%= form.text_field :last_name %>
<br>
<br>
<%= form.label :marks %>
<%= form.number_field :marks %>
<br>
<br>
</div>
<%= form.submit%>
<% end %>
