<h1>New Patient</h1>
<%= form_for @patient do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<br>
<br>
<div>
<%= f.label :age %>
<%= f.number_field :age %>
</div>
<br>
<br>
<%= f.submit 'Create Patient' %>
<% end %>
<%= link_to 'Back', patients_path %>
